$ui-primary: var(--ui-primary, 	#e5f0ff);
$ui-secondary: var(--ui-secondary, #E9F1FC );
$ui-tertiary: var(--ui-tertiary, #D9E3F2 ); /* #D9E3F2 */

$ui-modal-overlay: var(--ui-modal-overlay, #fd8a5e); /* 90% transparent version of motion-primary */

$ui-white: #FFFFFF;
$ui-white-dim: hsla(0, 100%, 100%, 0.75); /* 25% transparent version of ui-white */
$ui-white-transparent: hsla(0, 100%, 100%, 0.25); /* 25% transparent version of ui-white */
$ui-transparent: hsla(0, 100%, 100%, 0); /* 25% transparent version of ui-white */

$ui-black-transparent-default: hsla(0, 0%, 0%, 0.15); /* 15% transparent version of black */
$ui-black-transparent: var(--ui-black-transparent, $ui-black-transparent-default);

$text-primary: var(--text-primary, #575E75 ); /* #575E75 */
$text-primary-transparent: hsla(225, 15%, 40%, 0.75);

$motion-primary: #FF874D;
$motion-tertiary: #DF772F;
$motion-transparent: hsla(0, 100%, 65%, 0.35); /* 35% transparent version of motion-primary */
$motion-light-transparent: hsla(0, 100%, 65%, 0.15); /* 15% transparent version of motion-primary */

/* opt-in theme overrides */
$motion-primary-dark: #333;
$ui-primary-light: 	#e5f0ff;
$ui-secondary-light: #e9f1fc;
$ui-tertiary-light: #D9E3F2;
$text-primary-light: #575e75;

$red-primary: #FF661A; /* # */
$red-tertiary: #E64D00; /* #E64D00 */

$sound-primary: #C90076; /* #CF63CF */
$sound-tertiary: #ff0078; /* #BD42BD */

$control-primary: #FFAB19;

$data-primary: #FF8C1A; /* #FF8C1A */

$pen-primary: #0096ff; /* #0FBD8C */
$pen-transparent: hsla(163, 85%, 40%, 0.25); /* #0FBD8C */

$error-primary: #ff1a1a; /* #FF8C1A */
$error-light: #ff6666; /* #FFB366 */
$error-transparent: #ffb8b8; /* #FF8C1A */

$extensions-primary: #f2b35a;
$extensions-tertiary: hsla(10, 85%, 40%, 1);
$extensions-transparent: hsla(10, 85%, 65%, 0.35); /* 35% transparent version of extensions-primary */
$extensions-light: hsla(10, 57%, 85%, 1); /* opaque version of extensions-transparent, on white bg */

$drop-highlight: #ffc878; /* lighter than motion-primary */
